<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="background-image">
    <div class="container">
        <h1 class="title">Welcome to the Image Processing App</h1>
        <h2 class="subtitle">Select an option:</h2>
        <form action="/classify" method="POST" enctype="multipart/form-data" class="form">
            <label for="file" class="label">Upload Image for Classification:</label><br>
            <input type="file" name="file" id="file" accept="image/*" class="input-file"><br><br>
            <button type="submit" class="btn">Classify Image</button>
        </form>
        <br>
        <form action="/detect" method="POST" enctype="multipart/form-data" class="form">
            <label for="file" class="label">Upload Image for Object Detection:</label><br>
            <input type="file" name="file" id="file" accept="image/*" class="input-file"><br><br>
            <button type="submit" class="btn">Detect Objects</button>
        </form>
    </div>
</body>
</html>